N8N_PORT=5678
N8N_HOST=homelab
N8N_PROTOCOL=http
WEBHOOK_URL=https://homelab.tail5e76d5.ts.net:8443/
GENERIC_TIMEZONE=Europe/Madrid
N8N_SECURE_COOKIE=false
N8N_DATA_DIR=/data/homelab/n8n/data
N8N_FILES_DIR=/data/homelab/n8n/files
N8N_ENCRYPTION_KEY=change_me_generate_a_long_random_value
