PROMETHEUS_PORT=9090
PROMETHEUS_CONFIG_FILE=/data/homelab/prometheus/prometheus.yml
PROMETHEUS_DATA_DIR=/data/homelab/prometheus/data
BLACKBOX_CONFIG_FILE=/data/homelab/prometheus/blackbox.yml
NODE_EXPORTER_PORT=9100
GRAFANA_PORT=3000
GRAFANA_DATA_DIR=/data/homelab/grafana/data
