NEXTCLOUD_HTTP_PORT=8082
NEXTCLOUD_TRUSTED_DOMAINS=homelab
NEXTCLOUD_OVERWRITEHOST=homelab:8082
NEXTCLOUD_OVERWRITEPROTOCOL=http
NEXTCLOUD_PHP_MEMORY_LIMIT=512M
NEXTCLOUD_PHP_UPLOAD_LIMIT=10G
NEXTCLOUD_DB_NAME=nextcloud
NEXTCLOUD_DB_USER=nextcloud
NEXTCLOUD_DB_PASSWORD=change_me_generate_a_long_random_value
NEXTCLOUD_HTML_DIR=/data/homelab/nextcloud/html
NEXTCLOUD_DB_DIR=/data/homelab/nextcloud/db
TZ=Europe/Madrid
